# Copy this file to .env and fill in your own values.
# NEVER commit the real .env file.

DJANGO_SECRET_KEY='w%m8main*oe&gfy98pepfv)l+ty-l^q*3!61lqntlx%42!j!q7'
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=smartmart_db
DB_USER=smartmart_user
DB_PASSWORD='Smartmart123!'
DB_HOST=localhost
DB_PORT=3306